/*General styles*/

body {
    background-color: #192427;
    margin: 0;
}

h1,
h2,
h3,
p {
    color: white;
}

/*Header styles*/

header.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#logo {
    color: white;
    font-size: 2rem;
    max-width: 10rem;
    font-family: 'Futura', sans-serif;
}

header nav {
    display: flex;
    gap: 1rem;
}

header nav a {
    font-family: 'Futura', sans-serif;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

header nav a:hover {
    text-decoration: underline;
}

/*Hero banner styles*/

.hero-banner {
    display: flex;
    width: 100%;
    background-color: #767673;
}

.hero-image {
    max-width: 50%;
    height: auto;
}

.herotext {
    /*font-family: 'Futura', sans-serif;*/
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.herotext h2 {
    font-family: 'futura', sans-serif;
    font-size: 3rem;
}

.herotext p {
    font-family: 'comorant garamond', serif;
    font-size: 1.5rem;
    width: 80%;
    margin-top: 1rem;
}

.hero-banner button {
    font-size: 1.5rem;
    font-family: 'futura', sans-serif;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    border: none;
    max-width: 10rem;
    cursor: pointer;
}

/*Adds space between sections*/

.divider {
    margin-top: 20rem;
    margin-bottom: 20rem;
}

/*Styles for the introduction*/

.intro-container {
    margin: auto;
    max-width: 80%;
}

.intro {
    text-align: center;
    margin: 5rem;
}

#intro-title {
    font-family: 'Comorant Garamond', serif;
    font-size: 3rem;
    color: white;
}

.intro p {
    line-height: 1rem;
    font-size: 1.5rem;
    color: white;
}

/*Styles for the first banner*/

.banner {
    background-color: #767673;
    height: 15rem;
}

.bannertext {
    margin: 0 auto;
    padding: 5rem;
    text-align: center;
}

/* Upcomming events */

.events {
    margin: auto;
    max-width: 80%;
}

.events h2 {
    font-family: 'futura', sans-serif;
    font-size: 4rem;
}

.events li {
    font-family: 'Comorant Garamond', serif;
    color: white;
    line-height: 2rem;
    font-size: 1.5rem;
}

.events button {
    font-size: 1rem;
    font-family: 'futura', sans-serif;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    border: none;
    max-width: 10rem;
    cursor: pointer;
}

/* Reviews section */

.banner2 {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner2 img {
    height: 15rem;
    width: 100%;
}

.banner2-title {
    position: absolute;
    font-family: 'futura', sans-serif;
    font-size: 4rem;
    padding: 1rem;
}

/* Reviews */

.reviews {
    width: 80%;
    margin: 0 auto;
}

.reviews p {
    font-family: 'comorant garamond', serif;
    font-size: 1.5rem;
}

/* Join us today */

.banner4 {
    background-color: #C2B2AD;
    color: white;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner4-title {
    font-family: 'futura', sans-serif;
    font-size: 2rem;
    margin: 1rem;
}

.banner4-text {
    font-family: 'comorant garamond', serif;
    width: 80%;
    font-size: 1.5rem;
    margin: 1rem;
}

.banner4 button {
    font-size: 1rem;
    font-family: 'futura', sans-serif;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
    margin: 1rem;
}

/* Footer */
footer {
    color: white;
    margin: 20rem auto;
    max-width: 80%;
    text-align: center;
    padding: 1rem 0;
}

footer h3 {
    font-family: 'futura', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

footer p {
    font-family: 'comorant garamond', serif;
    font-size: 1rem;
    margin: 0;
}

/* Medium devices (1024px or less) */
@media only screen and (max-width: 1024px) {

    /*General styles*/

    body {
        margin: 0;
    }

    /*Header styles*/

    header.header-container {
        padding: 0.5rem;
    }

    #logo {
        font-size: 1.5rem;
    }

    /* Navigational styles */

    header nav {
        gap: 0.5rem;
    }

    .hero-banner {
        height: 95rem;
        flex-direction: column;
        align-items: center;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
    }

    .herotext h2 {
        font-size: 2.5rem;
    }

    .herotext p {
        font-size: 1.25rem;
    }

    /* Introtext styles */

    .intro-container {
        max-width: 90%;
    }

    .intro p {
        font-size: 1.5rem;
    }

    /* Banner styles */

    .banner,
    .banner2,
    .banner4 {
        padding: 2rem 1rem;
    }

    .banner p {
        font-size: 1.5rem;
    }

    /* Events */

    .events h2 {
        font-size: 3rem;
    }

    /* Review styles*/
    .reviews p {
        font-size: 1.25rem;
    }

    /* Footer styles */
    footer {
        margin: 15rem auto;
    }
}

/* Small devices (768px or less) */
@media only screen and (max-width: 768px) {
    ...
}

/* Extra small devices (425px or less) */
@media only screen and (max-width: 425px) {
    ...
}